<h1>New movie</h1>

<% @movie.errors.full_messages.each do |message| %>
  <p style="color: red;"><%= message %></p>
<% end %>

<%= form_with(url: movies_path(@movie) , data: { turbo: false}) do %>
  <div>
    <%= label_tag :title %>
    <%= text_field_tag :title, @movie.title %>
    <!--<input type="text" id="title_box" name="query_title" value="<%#= @movie.title %>">-->
  </div>

  <div>
    <!--<label for="description_box">-->
      <!--Description-->
    <!--</label>-->
    <%= label_tag :description %>

    <!--<textarea id="description_box" name="query_description" rows="3"><%#= @movie.description %></textarea>-->
    <%= text_area_tag :description, @movie.description, { rows: 3} %>
  </div>

<!--  <button>
    Create Movie
  </button>-->
  <%= button_tag "Create Movie" %>
<% end %>
